Repository kopiLeft/Galite, pull requests merged in 2020-11, with the labels that each got.

#124 Implementation of setUserID() in Connection
  galite-core/src/main/kotlin/org/kopi/galite/db/Connection.kt
Labels: enhancement

#122 Allow to declare form as an object
  galite-core/src/main/kotlin/org/kopi/galite/visual/Module.kt
Labels: enhancement, form DSL, model

#125 Form field indices and priority
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlockIndex.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormElement.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormFieldColumns.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormTests.kt
Labels: enhancement, form DSL

#123 create database tables from DBSchema
  galite-core/src/main/kotlin/org/kopi/galite/db/DBSchema.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/VMenuTree.kt
  galite-tests/build.gradle.kts
  galite-tests/src/main/kotlin/org/kopi/galite/tests/db/DBSchemaTest.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/desktop/GaliteApplication.kt
  galite-tests/src/test/resources/org/kopi/galite/test/Menu-fr_FR.xml
Labels: database, enhancement

#131 String form field with height and visible height
  galite-core/src/main/kotlin/org/kopi/galite/domain/Domain.kt
  galite-core/src/main/kotlin/org/kopi/galite/field/Field.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormField.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/Report.kt
Labels: enhancement, form DSL

#133 Access form field value and add insertBlock method in form
  galite-core/src/main/kotlin/org/kopi/galite/field/Field.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VBooleanCodeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VCodeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VColorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VFixnumCodeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VFixnumField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VIntegerCodeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VIntegerField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VMonthField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VStringCodeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VStringField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VTimeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VTimestampField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VWeekField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormLocalizationWriter.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/Report.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/ReportField.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/desktop/GaliteApplication.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormTestForFieldsVisibility.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormTests.kt
Labels: enhancement, form DSL

#138 Add reflectTool methods
  galite-core/build.gradle.kts
  galite-core/src/main/kotlin/org/kopi/galite/util/ReflectTool.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/util/ReflectToolTests.kt
Labels: util

#139 Form menu
  galite-core/src/main/kotlin/org/kopi/galite/common/Actor.kt
  galite-core/src/main/kotlin/org/kopi/galite/common/Menu.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormLocalizationWriter.kt
  galite-core/src/main/kotlin/org/kopi/galite/util/ReflectTool.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormTests.kt
Labels: enhancement, form DSL

#141 Bug fix: fix forms without triggers
  galite-core/src/main/kotlin/org/kopi/galite/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
Labels: bug, form DSL

#142 Supporting dictionary form and report selection form
  galite-core/src/main/kotlin/org/kopi/galite/form/VForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/DictionaryForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/ReportSelectionForm.kt
Labels: enhancement, form DSL, model, report DSL

#143 Supporting multiple pages in forms
  galite-core/src/main/kotlin/org/kopi/galite/common/Window.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormPage.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormTestForFieldsVisibility.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithBlockTrigger.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/util/ReflectToolTests.kt
Labels: enhancement, form DSL
