Repository kopiLeft/Galite, pull requests merged in 2021-11, with the labels that each got.

#487 VaadinUI : Calculate the list table width based on its content
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/list/GridListDialog.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/list/ListTable.kt
Labels: enhancement, UI 💎, UI: form

#490 DSL: Allow to define a combination of indices on a form field
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormBlockIndex.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/FormToTestSaveMultipleBlock.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/VBlockTests.kt
Labels: form DSL

#492 VaadinUI: Support sortable form fields
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DChartHeaderLabel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridBlockFieldUI.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridBlockItemSorter.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridEditorLabel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/label/Label.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/label/SortableLabel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/label/SortableLabelListener.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/client/ClientForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/database/Migration.kt
  galite-demo/galite-vaadin/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/FormTests.kt
Labels: enhancement, UI 💎, UI: form

#494 VaadinUI: Rework the feature of filtering data on list dialog and grid
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridBlockFilter.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/list/ListFilter.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/list/ListTable.kt
Labels: bug :lady_beetle:, UI 💎, UI: form

#498 VaadinUI: Lazily load layout components when user navigates to a page
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/Page.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/VWindowController.kt
  galite-core/src/main/resources/META-INF/resources/frontend/images/bread_crumb_separator.png
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/dialog.css
Labels: enhancement

#493 Github pages index enhancement
  css/index.css
  index.html
Labels: documentation :page_facing_up:, enhancement

#502 Feature: Support droppable blocks
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/block/AlignPanel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/block/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/block/BlockDropWrapper.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/block/ColumnView.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/block/SimpleBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/block/SingleComponentBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DBlockDropHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridMultiBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/VApplication.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/dropwrapper.css
Labels: form DSL, UI 💎, UI: form

#495 Unit Tests : adding tests for VDimension, VMeasure, Domain, ExtendedChoiceFormat and getSearchTable
  galite-tests/src/test/kotlin/org/kopi/galite/tests/base/ExtendedChoiceFormatTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/chart/VDimensionTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/chart/VMeasureTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/domain/DomainTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithNullableColumnTest.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithNullableColumns.kt
Labels: test :test_tube:

#496 Adding UITests for all cases existing in the documentations
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/chart/DPieChart.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Notification.kt
  galite-tests/src/main/resources/org/kopi/galite/test/Menu-en_GB.xml
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Database.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationBlockForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationChart.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationChartC.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationFieldsForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReport.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReportR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReportTriggers.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReportTriggersR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Modules.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/DocumentationBlockFormTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/chart/DocumentationChartTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/field/DocumentationFieldsFormTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/DocumentationFormTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/report/DocumentationReportTests.kt
Labels: test :test_tube:

#505 Feature: Implement sending mail and fix error reporting
  buildSrc/src/main/kotlin/org/kopi/galite/gradle/Versions.kt
  galite-core/build.gradle.kts
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/DWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/VApplication.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/util/mailer/Attachment.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/util/mailer/Mailer.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/util/mailer/SMTPException.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/Application.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/ApplicationConfiguration.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/ApplicationContext.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/Module.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VMenuTree.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VerifyConfiguration.kt
  galite-demo/galite-vaadin-spring/src/main/kotlin/org/kopi/galite/demo/Application.kt
  galite-demo/galite-vaadin-spring/src/main/resources/version
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/GaliteApplication.kt
  galite-demo/galite-vaadin/src/main/resources/version
  galite-tests/src/main/kotlin/org/kopi/galite/tests/ui/swing/JApplicationTestBase.kt
  galite-tests/src/main/kotlin/org/kopi/galite/tests/ui/vaadin/VApplicationTestBase.kt
  galite-tests/src/main/resources/version
Labels: enhancement, util
