Repository kopiLeft/Galite, pull requests merged in 2021-12, with the labels that each got.

#507 VaadinUI/JS: Handle autofill button visibility from JS
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/TextField.kt
  galite-core/src/main/resources/META-INF/resources/frontend/src/text-field.js
Labels: enhancement, UI 💎, UI: form, frontend

#506 VaadinUI/JS: Handle navigation shortcuts in client side
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/base/JSKeyDownHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/base/JSUtils.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/base/ShortcutAction.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/Field.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/KeyNavigator.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/ObjectField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/RichTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/TextFieldNavigationHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VTimeStampField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DObjectField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/grid/GridEditorTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/DActor.kt
Labels: enhancement, UI 💎, UI: form, frontend

#509 Remove column view of form fields and clean code
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/block/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/block/BlockListener.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/block/ColumnView.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/block/SimpleBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/ActorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/BooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/CheckTypeException.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/EnumValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/Field.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/FieldListener.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/KeyNavigator.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/ObjectField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/TextFieldNavigationHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/BlockComponentData.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DBlockDropHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DChartBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridBlockContainer.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridMultiBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridTextEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DObjectField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/grid/GridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/notif/ConfirmNotification.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/DActor.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/window/Window.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/client/ClientForm.kt
Labels: enhancement, UI 💎, UI: form

#511 Feature: Allow adding and editing full calendar items
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/form/DBlock.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/form/DForm.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/visual/DWindow.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/visual/JApplication.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/visual/JWindowController.java
  galite-core/src/main/kotlin/org/kopi/galite/visual/cross/VFullCalendarForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FullCalendarBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/BlockListener.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/Commands.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/FullCalendarBlockListener.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VConstants.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VFullCalendarCommand.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/fullcalendar/VFullCalendarBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/type/Timestamp.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/base/Utils.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/calendar/DAbstractFullCalendar.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DFullCalendarBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/DMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/DWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/VWindowController.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/window/Window.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/ModelCloseListener.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/WindowController.kt
  galite-core/src/main/resources/org/kopi/galite/visual/Menu-en_GB.xml
  galite-core/src/main/resources/org/kopi/galite/visual/VlibProperties-ar_TN.xml
  galite-core/src/main/resources/org/kopi/galite/visual/VlibProperties-de_AT.xml
  galite-core/src/main/resources/org/kopi/galite/visual/VlibProperties-en_GB.xml
  galite-core/src/main/resources/org/kopi/galite/visual/VlibProperties-fr_FR.xml
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/database/Migration.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/database/Tables.kt
Labels: UI 💎, UI: form, New :new:

#512 VaadinUI: Parse date and timestamp fields on value change
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/Triggers.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/UMultiBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VCodeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VColorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VDecimalField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VDictionaryForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VIntegerField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VListDialog.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VMonthField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VStringField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VTimeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VTimestampField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VWeekField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/base/JSUtils.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/DateValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/TimeValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/TimestampValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VTimeStampField.kt
Labels: bug :lady_beetle:, UI 💎

#513 Externalize methods of building models from DSL APIs
  galite-core/src/main/kotlin/org/kopi/galite/visual/chart/VChart.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/cross/VFullCalendarForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/chart/Chart.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/chart/ChartModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Window.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/BlockModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/DictionaryForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FullCalendarBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/ReportSelectionForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/report/Report.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/report/ReportModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/util/ReflectTool.kt
  galite-localizer/src/test/kotlin/org/kopi/galite/tests/localizer/Initialization.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/FormDSLTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/ReportTriggersTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReportTriggers.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/FormToTestSaveMultipleBlock.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/MultipleBlockFormTests.kt
Labels: enhancement, form DSL, report DSL, chart DSL :bar_chart:

#514 VaadinUI: download produced file in server without showing a dialog
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/download/DownloadAnchor.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/download/DownloadButton.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/download/Downloader.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/download/DownloaderDialog.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/DWindow.kt
Labels: enhancement, UI 💎

#497 Add Unit Test for DSL components
  galite-tests/src/test/kotlin/org/kopi/galite/tests/domain/CodeDomainTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/ChartDSLTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/CommonDSLTest.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/FieldDSLTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/FormDSLTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/ReportDSLTests.kt
Labels: test :test_tube:

#481 UITests: Adding tests for block and report
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/report/DReport.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Field.kt
  galite-tests/src/main/resources/org/kopi/galite/test/Menu-en_GB.xml
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/FormDSLTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Modules.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/field/FieldsTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/CommandsFormTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/MultipleBlockFormTests.kt
Labels: test :test_tube:

#518 VBump: Vaadin 21.0.9
  buildSrc/src/main/kotlin/org/kopi/galite/gradle/Versions.kt
  galite-demo/galite-vaadin-spring/build.gradle.kts
  galite-demo/galite-vaadin/build.gradle.kts
  galite-tests/build.gradle.kts
Labels: v bump🔺

#517 Improvement in Css style
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/report/ColumnsSelector.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/report/DTable.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/checkbox.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/columnselector.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/combobox.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/datetime.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/grid.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/list.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/report.css
Labels: enhancement, frontend

#519 FIX: Refresh data after deleting record from full calendar block
  galite-core/src/main/kotlin/org/kopi/galite/visual/cross/VFullCalendarForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/database/Migration.kt
Labels: bug :lady_beetle:, UI 💎, full calendar :calendar:

#503 Add UI Tests for Block, Form, Report and List
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Field.kt
  galite-tests/src/main/resources/org/kopi/galite/test/Menu-en_GB.xml
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Modules.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/TestFieldsForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/TestFieldsVisibilityForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/SimpleBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/MultipleBlockFormTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/list/ListTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/report/ReportTests.kt
Labels: test :test_tube:

#500 Add Unit tests for VForm, VField and VBlock
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/FormToTestSaveMultipleBlock.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormSample.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormSampleTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithMultipleBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/VBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/VFieldTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/MultipleBlockFormTests.kt
Labels: test :test_tube:

#522 VaadinUI: focus on a field when a form is opened in a dialog
  galite-core/src/main/kotlin/org/kopi/galite/visual/fullcalendar/VFullCalendarBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/base/BackgroundThreadHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VTimeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VTimeStampField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/DWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/VWindowController.kt
Labels: bug :lady_beetle:, UI 💎, UI: form

#521 DSL: simplify DSL API for commands
  README.md
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Command.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Window.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/report/Report.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/report/ReportField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/report/ReportRow.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VCellFormat.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VReportColumn.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/bill/BillForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/bill/BillR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/billproduct/BillProductForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/billproduct/BillProductR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/client/ClientForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/client/ClientR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/command/CommandForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/command/CommandR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/common/FormDefault.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/product/ProductForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/product/ProductR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/provider/ProviderForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/provider/ProviderR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/stock/StockForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/stock/StockR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/tasks/TasksForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/taxRule/TaxRuleForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/taxRule/TaxRuleR.kt
  galite-localizer/src/test/kotlin/org/kopi/galite/tests/localizer/Initialization.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/CommonDSLTest.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/FormDSLTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/CommandsForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationBlockForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationChart.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationChartC.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationFieldsForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReport.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReportR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReportTriggers.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReportTriggersR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/FormToTestSaveMultipleBlock.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/FormWithChart.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/MultipleBlockForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/TestFieldsForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/TestFieldsVisibilityForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/TrainingR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormSample.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormSampleTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithList.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithListDomains.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithNullableColumns.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithReport.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithSpecialTypes.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/VBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/report/ReportTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/field/FieldsTests.kt
Labels: enhancement, form DSL, report DSL, chart DSL :bar_chart:

#523 Fix: field's shortcuts should be fired only when all modifiers are combined
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/base/JSUtils.kt
Labels: bug :lady_beetle:, UI 💎, UI: form

#524 DSL: Create report without having to override a method from ReportSelectionForm
  galite-core/src/main/kotlin/org/kopi/galite/visual/cross/VReportSelectionForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Window.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/DictionaryForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/ReportSelectionForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/bill/BillForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/billproduct/BillProductForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/client/ClientForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/command/CommandForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/product/ProductForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/provider/ProviderForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/stock/StockForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/taxRule/TaxRuleForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/CommandsForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReport.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithReport.kt
Labels: enhancement, form DSL, report DSL

#526 Code clean for grid block: Do not update model many times
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/Page.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/grid/GridEditorField.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/MainWindow.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/CommandsFormTests.kt
Labels: enhancement, UI 💎, UI: form

#527 DSL: Add enum class for actor icons
  README.md
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Actor.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/bill/BillForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/bill/BillR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/billproduct/BillProductForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/billproduct/BillProductR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/client/ClientForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/client/ClientR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/command/CommandForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/command/CommandR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/common/FormDefault.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/product/ProductForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/product/ProductR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/provider/ProviderForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/provider/ProviderR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/stock/StockForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/stock/StockR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/tasks/TasksForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/taxRule/TaxRuleForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/taxRule/TaxRuleR.kt
  galite-localizer/src/test/kotlin/org/kopi/galite/tests/localizer/Initialization.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/FormDSLTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/CommandsForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationBlockForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationChart.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationChartC.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationFieldsForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReport.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReportR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReportTriggers.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReportTriggersR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/FormToTestSaveMultipleBlock.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/FormWithChart.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/MultipleBlockForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/TestFieldsForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/TestFieldsVisibilityForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/TrainingR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormSample.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithList.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithListDomains.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithNullableColumns.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithReport.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithSpecialTypes.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/report/ReportTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/field/FieldsTests.kt
Labels: form DSL, report DSL, chart DSL :bar_chart:

#529 Update the documentation
  docs/chart.adoc
  docs/form.adoc
  docs/general.adoc
  docs/report.adoc
Labels: documentation :page_facing_up:
