Repository kopiLeft/Galite, pull requests merged in 2021-05, with the labels that each got.

#330 Vaadin UI: Quit a window should remove it from the menu of opened windows
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/MainWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWelcome.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindows.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindowsDisplay.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindowsMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/menu/ModuleItem.kt
Labels: UI

#328 Implementation of Application Style
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/Form.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/Grid.css
Labels: frontend

#327 Vaadin UI: Context menu for dynamic report
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/report/DReport.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/visual/JWindowController.java
  galite-core/src/main/kotlin/org/kopi/galite/report/MReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/VReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/VReportColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/ColumnStyleGenerator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/VTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VWindowController.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/WindowController.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientR.kt
Labels: UI: report

#331 Vaadin UI: Autofill button allowing to select from a list domain
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/KeyNavigator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VWindowController.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithListDomains.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithListDomainsTests.kt
Labels: UI: form

#306 Remove actors without icon from the actor's menubar
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindowContainer.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/VWindow.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/command/CommandForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/common/FormDefault.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/stock/StockForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/taxRule/TaxRuleForm.kt
Labels: UI

#332 Vaadin UI: Enable/Disable actor when enter/leave block
  galite-core/src/main/kotlin/org/kopi/galite/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/AbstractField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/ActorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/BooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/Field.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/ImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/ObjectField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextField.kt
Labels: UI: form

#320 Vaadin UI: change simple block layout implementation with HTML Table
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/AbstractBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/LayoutManager.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/SimpleBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/SingleComponentBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/common/VSimpleTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/common/VTable.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/Form.css
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientForm.kt
Labels: UI: form

#333 Vaadin UI: Bug fix for actors icons
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/actor/Actor.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/actor/VActorNavigationItem.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/actor/VActorsNavigationPanel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/Utils.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/menu/VActorsRootNavigationItem.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DActor.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/window/VActorPanel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/window/Window.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/bill/BillR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/billproduct/BillProductR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/command/CommandR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/product/ProductR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/provider/ProviderR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/stock/StockR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/taxRule/TaxRuleR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/report/ReportTests.kt
Labels: UI, impact: low

#336 Vaadin UI: Implement file uploader
  galite-core/src/main/kotlin/org/kopi/galite/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/VInputButton.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/AbstractBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/VPredefinedValueHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/upload/FileUploader.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/upload/UploadDialog.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VFileHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/VActor.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithListDomains.kt
Labels: UI: form

#338 Vaadin UI: Go to requested page when select form tabs
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/chart/DChart.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/AbstractField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridTextEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorActorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/MainWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/window/PopupWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/window/Window.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormSample.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithFields.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithFieldsTests.kt
Labels: UI: form, bug

#339 Vaadin UI: set login fields to eager mode
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/login/VLoginBox.kt
Labels: UI

#340 Vaadin UI: Define formats to parse the value of Date/Timestamp fields
  galite-core/src/main/kotlin/org/kopi/galite/form/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VTimeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VTimestampField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VFixnumField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DLabel.kt
Labels: UI, model

#334 Vaadin UI: implement aligned blocks
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/Utils.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/AbstractBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/AlignPanel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/BlockAlignment.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/BlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/MultiBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/SimpleBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/SingleComponentBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/common/VTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorLabel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/Page.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorIntegerField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorTextField.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/StoreApplication.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormAlignTest.kt
Labels: UI: form

#342 BugFix: trigger action event of all actors' shortcuts
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/actor/Actor.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/actor/VActorNavigationItem.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/actor/VActorsNavigationPanel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DActor.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DWindow.kt
Labels: UI, enhancement

#346 VaadinUI: Add block caption
  README.md
  docs/client_form.png
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/AbstractBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/SimpleBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/chart/DAbstractChartType.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/common/VTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/Page.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DHelpViewer.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/actor.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/block.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/dialog.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/form.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/grid.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/header.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/login.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/styles.css
  galite-tests/src/test/kotlin/org/kopi/galite/demo/StoreApplication.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/product/ProductForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/product/ProductR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/stock/StockR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/chart/ChartSample.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormAlignTest.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithNullableColumnTest.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithNullableColumns.kt
Labels: UI: form, frontend
