Repository kopiLeft/Galite, pull requests merged in 2021-06, with the labels that each got.

#347 VaadinUI: Enhancements and adding features to galite UI components
  galite-core/src/main/kotlin/org/kopi/galite/db/Connection.kt
  galite-core/src/main/kotlin/org/kopi/galite/db/DBContext.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/ModelTransformer.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/Utils.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/SimpleBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/common/VTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/AbstractField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/ActorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/Field.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/ObjectField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextFieldNavigationHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VPasswordField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VTextAreaField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DActorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DChartHeaderLabel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorActorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorLabel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridTextEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorLabel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorTextAreaField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/list/GridListDialog.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DTable.kt
  galite-demo/build.gradle.kts
  galite-tests/src/test/resources/META-INF/resources/logo_galite.png
  settings.gradle.kts
Labels: UI, database

#349 VaadinUI: Add shortcuts to list dialog
  galite-core/src/main/kotlin/org/kopi/galite/form/VField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DListDialog.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/list/GridListDialog.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/list/ListTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/MainWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindowsDisplay.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindowsMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindowsMenuItem.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/menu/VActorsRootNavigationItem.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/menu/VNavigationMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/notif/AbstractNotification.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DActor.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/list.css
  galite-tests/src/test/kotlin/org/kopi/galite/demo/command/CommandForm.kt
Labels: UI, UI: form

#348 VaadinUI: Implement report cell styler
  README.md
  docs/galite_chart.png
  docs/login-page.png
  docs/products_report.png
  galite-core/src/main/kotlin/org/kopi/galite/report/ReportField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/ColumnStyleGenerator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/ReportCellStyler.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/grid.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/report.css
Labels: UI, UI: report

#350 VaadinUI: Enhancements and adding features to galite UI components
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormDescriptionPosition.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/ColumnView.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/chart/DAbstractChartType.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/AbstractField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/BooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/Field.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/KeyNavigator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VCodeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VPasswordField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VTextAreaField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DWindow.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/form.css
Labels: UI

#351 VaadinUI: Implementing window to display and manage data in tree
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/visual/DItemTree.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/visual/ItemRenderer.java
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/Tree.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/MainWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindowsMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DItemTree.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DMenuTree.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/Tree.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/Item.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/UItemTree.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/VItemTree.kt
Labels: UI

#354 VaadinUI: Fix field label content and format date field value
  galite-core/src/main/kotlin/org/kopi/galite/form/VForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DLabel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/label/Label.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VApplication.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/form.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/login.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/styles.css
Labels: UI, UI: form

#356 VaadinUI: Adding login page tests
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VApplication.kt
  galite-tests/build.gradle.kts
  galite-tests/src/main/kotlin/org/kopi/galite/tests/common/TestBase.kt
  galite-tests/src/main/kotlin/org/kopi/galite/tests/db/DBSchemaTest.kt
  galite-tests/src/main/kotlin/org/kopi/galite/tests/ui/swing/JApplicationTestBase.kt
  galite-tests/src/main/kotlin/org/kopi/galite/tests/ui/vaadin/VApplicationTestBase.kt
  galite-tests/src/main/kotlin/org/kopi/galite/tests/ui/vaadin/VUITestBase.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/desktop/Application.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/web/vaadin/Application.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/base/ExtendedMessageFormatTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/chart/ChartTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/chart/VRowTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormSampleTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormToCheckFieldVisibilityTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithFieldsTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithListDomainsTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithMultipleBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithNullableColumnTest.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/VBlockDefaultOuterJoinTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/VBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/VFieldTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/l10n/ActorLocalizerTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/l10n/BlockLocalizerTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/l10n/ChartLocalizerTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/report/ReportTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/report/VBaseRowTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/report/VReportTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/login/LoginPageTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/report/VReportTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/visual/VApplicationTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/util/LineBreakerTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/util/base/UtilsTests.kt
Labels: UI, test

#353 Vaadin UI: Fix filter feature in list dialog
  galite-core/src/main/kotlin/org/kopi/galite/db/Utils.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/VInputText.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/AbstractField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/ObjectField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DListDialog.kt
Labels: UI, UI: form

#359 Add the ability to download a file on the client machine
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/LocalizedProperties.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DWindow.kt
Labels: UI

#355 VaadinUI: Add autofill button to fields in multiple block
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridTextEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DActor.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/StoreApplication.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/billproduct/BillProductForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/taxRule/TaxRuleForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/taxRule/TaxRuleR.kt
  galite-tests/src/test/resources/org/kopi/galite/test/Menu-en_GB.xml
Labels: UI, UI: form

#358 VaadinUI: Adding main window tests
  README.md
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/VScrollablePanel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/menu/ModuleItem.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/notif/AbstractNotification.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/textfield.css
  galite-tests/src/main/kotlin/org/kopi/galite/tests/db/DBSchemaTest.kt
  galite-tests/src/main/kotlin/org/kopi/galite/tests/ui/vaadin/VUITestBase.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/web/vaadin/Application.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/login/LoginPageTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/main/MainWindowTests.kt
Labels: test
