Repository kopiLeft/Galite, pull requests merged in 2021-08, with the labels that each got.

#395 Galite-testing: Adding testing functions for blocks and fields
  galite-testing/README.md
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Block.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Field.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/MainWindow.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Model.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Utils.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/form/ClientForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/module/Modules.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/MultipleBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/login/LoginPageTests.kt
  galite-tests/src/test/resources/org/kopi/galite/test/Menu-en_GB.xml
Labels: test

#398 VaadinUI: Replace report ComponentRenderer by Renderer
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/ReportCellStyler.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/grid.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/report.css
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/report/ReportTests.kt
Labels: UI, UI: report

#397 Adding new classes for test
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/CommandsForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Common.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/MultipleBlockForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/SimpleForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/TrainingR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/CommandsFormTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/MultipleBlockFormTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/SimpleFormTests.kt
Labels: test

#399 VaadinUI: Send field value to the model when shortcut is invoked
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/ShortcutAction.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/KeyNavigator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DActor.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DWindow.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientForm.kt
Labels: UI, UI: form, enhancement

#388 Adding Galite servlet
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/GaliteServlet.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VApplication.kt
  galite-tests/src/test/resources/config.properties
Labels: enhancement, UI

#404 Doc: getting started with the demo app
  README.md
  galite-tests/build.gradle.kts
  galite-tests/src/main/kotlin/org/kopi/galite/demo/GShopApplication.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/bill/BillForm.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/bill/BillR.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/billproduct/BillProductForm.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/billproduct/BillProductR.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/client/ChartSample.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/client/ClientForm.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/client/ClientR.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/command/CommandForm.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/command/CommandR.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/common/FormDefault.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/desktop/Application.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/product/ProductForm.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/product/ProductR.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/provider/ProviderForm.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/provider/ProviderR.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/stock/StockForm.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/stock/StockR.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/taxRule/TaxRuleForm.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/taxRule/TaxRuleR.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/vaadin/Application.kt
  galite-tests/src/main/resources/META-INF/resources/logo_galite.png
  galite-tests/src/main/resources/config.properties
  galite-tests/src/main/resources/org/kopi/galite/demo/Menu-en_GB.xml
  galite-tests/src/main/resources/org/kopi/galite/test/Menu-en_GB.xml
  galite-tests/src/main/resources/version
  gradle.properties
Labels: documentation

#400 VaadinUI: test for loading multiple-block data
  docs/client_form.png
  galite-core/src/main/kotlin/org/kopi/galite/db/DBContext.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/BackgroundThreadHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlockFilter.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VApplication.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/GShopApplication.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/client/ClientForm.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/client/ClientR.kt
  galite-tests/src/main/resources/org/kopi/galite/test/Menu-en_GB.xml
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/CommandsForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Common.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Database.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/ManyPagesForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Modules.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/MultipleBlockForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/MultipleBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/FormTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/MultipleBlockFormTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/list/ListTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/report/ReportTests.kt
Labels: UI, test

#402 Form to Test save in Multiple Block
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Database.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/FormToTestSaveMultipleBlock.kt
Labels: test

#396 Galite-testing: Logout testing functions
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/MainWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VApplication.kt
  galite-testing/README.md
  galite-testing/build.gradle.kts
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Login.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Utils.kt
  galite-tests/src/main/kotlin/org/kopi/galite/tests/ui/vaadin/VUITestBase.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/login/LogoutTests.kt
Labels: test

#405 Show scrollbar in notification content when text is long
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/notification.css
Labels: frontend

#406 Adding sequence for table Center
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Database.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/FormToTestSaveMultipleBlock.kt
Labels: test

#401 VaadinUI: test all field types in multiple-block
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Field.kt
  galite-tests/src/main/resources/org/kopi/galite/test/Menu-en_GB.xml
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/FormExample.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Modules.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/form/ClientForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/MultipleBlockTests.kt
Labels: UI, test

#393 Fix report separator style
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/report.css
Labels: frontend

#385 VaadinUI: Enhancements in month/week fields
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VCodeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VInputButtonField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VIntegerField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VPasswordField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VTextAreaField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VTimeStampField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DateChooser.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DActor.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/SimpleBlockTests.kt
Labels: enhancement, UI, UI: form

#394 Prevent the closure of popUps with Esc button
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/notif/AbstractNotification.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/window/PopupWindow.kt
Labels: UI

#408 VaadinUI: apply last edit record request
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlock.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Field.kt
  galite-tests/src/main/resources/org/kopi/galite/test/Menu-en_GB.xml
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Database.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/FormToTestSaveMultipleBlock.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Modules.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/TestApplication.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/MultipleBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/MultipleBlockFormTests.kt
Labels: UI, UI: form

#411 VaadinUI: Adding file downloader dialog
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/upload/UploadDialog.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DownloaderDialog.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VApplication.kt
Labels: UI

#409 Move common code of build scripts to buildSrc
  buildSrc/src/main/kotlin/org/kopi/galite/gradle/Utils.kt
  galite-core/build.gradle.kts
  galite-testing/build.gradle.kts
  galite-tests/build.gradle.kts
Labels: util

#410 VaadinUI: Set Converters and formatters for editor fields
  galite-core/src/main/kotlin/org/kopi/galite/form/VField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VWeekField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridTextEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorField.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Block.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Field.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Common.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/FormExample.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/MultipleBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/FormTests.kt
Labels: UI, UI: form

#414 VaadinUI: Tree menu should call selected form when double click on item
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DMenuTree.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VApplication.kt
Labels: UI

#407 Test: fix demo form
  README.md
  galite-tests/src/main/kotlin/org/kopi/galite/demo/GShopApplication.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/bill/BillForm.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/bill/BillR.kt
  galite-tests/src/main/kotlin/org/kopi/galite/demo/command/CommandR.kt
Labels: test

#416 Implement adding/removing shortcuts in the database and fix the menu tree component
  galite-core/src/main/kotlin/org/kopi/galite/db/DBSchema.kt
  galite-core/src/main/kotlin/org/kopi/galite/preview/VPreviewWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/Tree.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DMenuTree.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/VMenuTree.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/VWindow.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/menutree.css
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Actor.kt
Labels: enhancement, model, UI, database, frontend

#415 v bump
  buildSrc/src/main/kotlin/org/kopi/galite/gradle/Versions.kt
Labels: v bump
