Repository kopiLeft/Galite, pull requests merged in 2021-03, with the labels that each got.

#267 Implementation of Window container that contain the history of open forms
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/MainWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindowContainer.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindows.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindowsDisplay.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindowsMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindowsMenuItem.kt
Labels: UI

#256 Add login page and welcome page CSS
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/common/VHeader.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/login/VEmptyModuleList.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/login/VLoginView.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/MainWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/menu/ModuleList.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/menu/ModuleListMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/menu/WelcomeListMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VApplication.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/window/VActorPanel.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/Form.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/Report.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/VHeader.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/VLoginBox.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/styles.css
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientForm.kt
Labels: UI, frontend

#274 Code clean: block and field methods clean after queries migration
  galite-core/src/main/kotlin/org/kopi/galite/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VField.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/VBlockTests.kt
Labels: enhancement

#284 EXT: Set automatic width for report columns [APPS-004B]
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DTable.kt
Labels: UI: report

#285 FIX: Change the name of boolean properties from get<Name>() to is<Name>()
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/form/DBlockDropTargetHandler.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/form/DField.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/form/DMultiBlock.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/report/DReport.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/visual/DWaitPanel.java
  galite-core/src/main/kotlin/org/kopi/galite/cross/VDynamicReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/AbstractFieldHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VCodeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VColorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VFieldUI.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VFixnumField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VIntegerField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VMonthField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VStringField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VTimeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VTimestampField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VWeekField.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/MReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/PExport.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/VCodeColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/VReportColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/VSeparatorColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DBlockDropHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DFieldHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlockFieldHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridMultiBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridTextEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DMultiBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DRichTextEditor.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DActor.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VWindowController.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/report/VReportTests.kt
Labels: enhancement

#286 UI: Grid of fields for multiblock layout
  galite-core/src/main/kotlin/org/kopi/galite/form/Commands.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/SimpleBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlockContainer.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorLabel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridMultiBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridTextEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorLabel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorTextField.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientForm.kt
Labels: UI: form

#288 FIX: Implementation of input text field
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/ColumnView.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/SimpleBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/AllowAllValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/DateValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/DecimalValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/EnumValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/Field.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/IntegerValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/MonthValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/StringValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TimeValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TimestampValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/WeekValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DRichTextEditor.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/KeyNavigator.kt
Labels: UI: form

#290 Feature: Implement image field
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/ImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/ImageFieldListener.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DLabel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DMenu.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/provider/ProviderForm.kt
Labels: UI: form

#291 Feature: Implement boolean field
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/BooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/Field.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DBooleanField.kt
Labels: UI: form

#298 Fix demo language
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/MainWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindowsDisplay.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindowsMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VApplication.kt
  galite-tests/src/main/kotlin/org/kopi/galite/tests/JApplicationTestBase.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/bill/BillForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/bill/BillR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/billproduct/BillProductForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/billproduct/BillProductR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/command/CommandForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/command/CommandR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/product/ProductForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/product/ProductR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/provider/ProviderForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/provider/ProviderR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/stock/StockForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/stock/StockR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/taxRule/TaxRuleForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/taxRule/TaxRuleR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/web/vaadin/Application.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/chart/ChartSample.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormSample.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormToCheckFieldVisibility.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithBlockTrigger.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithChart.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithCodeDomains.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithFields.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithList.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithListDomains.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithMultipleBlock.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithNullableColumns.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithReport.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithSpecialTypes.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/report/ReportTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/report/VReportTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/report/VReportTests.kt
  galite-tests/src/test/resources/org/kopi/galite/test/Menu-en_GB.xml
Labels: enhancement, impact: low

#296 Feature: List dialog that wraps a grid of records
  galite-core/src/main/kotlin/org/kopi/galite/form/Commands.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/Modes.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/BackgroundThreadHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DListDialog.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/list/GridListDialog.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/list/ListTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/notif/AbstractNotification.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DWindow.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/StoreApplication.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/command/CommandForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/taxRule/TaxRuleForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormSample.kt
Labels: UI: form

#297 UI Feature: Wait indicator when launching a window
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/wait/WaitWindow.kt
Labels: UI

#295 Enhancement in CSS
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/actor/Actor.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/BooleanField.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/Form.css
  galite-tests/src/test/kotlin/org/kopi/galite/demo/taxRule/TaxRuleForm.kt
Labels: frontend

#301 Report UI feature: Create clickable groups in report
  galite-core/src/main/kotlin/org/kopi/galite/report/MReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/VTable.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/StoreApplication.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientR.kt
Labels: UI: report
