Repository kopiLeft/Galite, pull requests merged in 2021-04, with the labels that each got.

#299 Fix Implementation of FetchLookup, getSearchCondition, EnumerateValue and getSuggestions
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/visual/DActor.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/visual/DMenuBar.java
  galite-core/src/main/kotlin/org/kopi/galite/cross/VDynamicReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/DictionaryForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/VReport.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientForm.kt
Labels: database

#132 Adding ALIGN property to block
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlockAlign.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormAlignTest.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormSample.kt
Labels: enhancement, form DSL

#304 UI feature: Implement records management and text fields improvement
  galite-core/src/main/kotlin/org/kopi/galite/form/Commands.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VFieldUI.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/ShortcutAction.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/BlockListener.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/AllowAllValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/DateValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/DecimalValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/EnumValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/Field.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/IntegerValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/KeyNavigator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/MonthValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/ShortcutActionHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/StringValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextFieldNavigationHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TextValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TimeValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/TimestampValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/UTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VCodeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VFixnumField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VIntegerField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VPasswordField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VTextAreaField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VTimeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VTimeStampField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/WeekValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/window/Window.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/command/CommandForm.kt
Labels: UI, impact: high

#307 Vaadin UI: fix multiple block records and introduce grid editor
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/SimpleBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlockContainer.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridMultiBlock.kt
Labels: UI: form

#309 Vaadin UI: reset multiple block
  galite-core/src/main/kotlin/org/kopi/galite/form/VField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VTimeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/VTimeStampField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlockContainer.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridTextEditorField.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/StoreApplication.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithList.kt
  galite-tests/src/test/resources/org/kopi/galite/test/Menu-en_GB.xml
Labels: UI: form

#311 Vaadin UI: Help on form command
  galite-core/src/main/kotlin/org/kopi/galite/base/Utils.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VHelpGenerator.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DHelpViewer.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VImageHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VWindowController.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/window/PopupWindow.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientForm.kt
  galite-tests/src/test/resources/version
Labels: UI: form

#305 Adding Filter to list dialog
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/list/ListFilter.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/list/ListTable.kt
Labels: UI: form

#312 Vaadin UI: delete block command
  galite-core/src/main/kotlin/org/kopi/galite/form/Commands.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VFixnumField.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DListDialog.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/notif/AbstractNotification.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/notif/ConfirmNotification.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DWindow.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/taxRule/TaxRuleForm.kt
Labels: UI: form

#275 Implementation of follow other field with Vaadin
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/AbstractBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/SimpleBlockLayout.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/product/ProductForm.kt
Labels: UI: form

#302 Implement Forms and reports Style in CSS
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/SingleComponentBlockLayout.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/list/GridListDialog.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/list/ListTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/wait/WaitWindow.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/Form.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/Grid.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/List.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/Report.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/VHeader.css
Labels: frontend

#310 Vaadin UI: save command
  galite-core/src/main/kotlin/org/kopi/galite/db/DBSchema.kt
  galite-core/src/main/kotlin/org/kopi/galite/db/Utils.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/Commands.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/VField.kt
  galite-tests/src/main/kotlin/org/kopi/galite/tests/db/DBSchemaTest.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithList.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/VBlockTests.kt
Labels: UI: form

#313 FIX: standard dynamic report bug fix
  galite-core/src/main/kotlin/org/kopi/galite/form/VDocGenerator.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/Report.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/VReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/actor/Actor.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorLabel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DLabel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/VActor.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/VHelpGenerator.kt
Labels: bug, model, severity: minor

#308 Vaadin UI: Quit window command
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/actor/Actor.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/actor/VActorNavigationItem.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/actor/VActorsNavigationPanel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/MainWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWindowContainer.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/menu/VNavigationColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DActor.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DHelpViewer.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VApplication.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/window/Window.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/UWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/VWindow.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientForm.kt
Labels: UI

#315 FIX: resolve page selection issue in forms
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/field/Field.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/Form.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientForm.kt
Labels: UI: form, impact: low

#317 Fix: chart localization enhancement
  galite-core/src/main/kotlin/org/kopi/galite/chart/Chart.kt
  galite-core/src/main/kotlin/org/kopi/galite/chart/ChartDimension.kt
  galite-core/src/main/kotlin/org/kopi/galite/chart/ChartMeasure.kt
  galite-core/src/main/kotlin/org/kopi/galite/chart/VChart.kt
Labels: chart DSL, enhancement, model

#323 Vaadin UI: grid editor of muliple blocks
  galite-core/src/main/kotlin/org/kopi/galite/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/form/dsl/FormBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/block/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorActorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridEditorImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridMultiBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/DGridTextEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/form/PositionPanel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorActorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/grid/GridEditorTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VApplication.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/client/ClientForm.kt
Labels: UI: form, impact: high

#322 Implementation of all actors' icons using VaadinIcon and IronIcons
  galite-core/build.gradle.kts
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/actor/Actor.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/actor/VActorNavigationItem.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/base/Utils.kt
Labels: UI

#326 Vaadin UI: Adding report column seperator to control groupings
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/report/DReport.java
  galite-core/src/main/kotlin/org/kopi/galite/report/MReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/PExport.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/Report.kt
  galite-core/src/main/kotlin/org/kopi/galite/report/VReportColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/actor/VActorsNavigationPanel.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/DTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/report/VTable.kt
  galite-tests/src/test/kotlin/org/kopi/galite/demo/product/ProductForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/report/VReportTests.kt
Labels: UI: report

#329 Vaadin UI: logout menu
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/MainWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/main/VWelcome.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/menu/ModuleItem.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/menu/ModuleList.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/menu/ModuleListMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DAdminMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DBookmarkMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/DUserMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/ui/vaadin/visual/VApplication.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/Module.kt
Labels: UI
