Repository kopiLeft/Galite, pull requests merged in 2022-02, with the labels that each got.

#545 Associate window elements to localization files based on class name
  galite-core/src/main/kotlin/org/kopi/galite/visual/cross/VDynamicReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/chart/ChartDimension.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/chart/ChartField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/chart/ChartMeasure.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/chart/ChartModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Actor.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Menu.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Window.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/WindowElement.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/field/Field.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/BlockModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormLocalizationWriter.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/MustFillFormField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/NullableFormField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/report/Report.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/report/ReportField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/report/ReportModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VActor.kt
  galite-localizer/src/main/kotlin/org/kopi/galite/localizer/Localization.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/CommonDSLTest.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/WindowElementSources.kt
Labels: form DSL, report DSL, chart DSL :bar_chart:, localization

#549 Remove DBContext class in favor to Connection
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/visual/DWaitPanel.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/visual/JApplication.java
  galite-core/src/main/kotlin/org/kopi/galite/visual/chart/VChart.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/cross/VChartSelectionForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/cross/VDynamicReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/cross/VReportSelectionForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/db/Connection.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/db/DBContext.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/db/DBContextHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/BlockModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/DictionaryForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VDictionaryForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/swing/visual/DMenuTree.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/DMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/DMenuTree.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/VApplication.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/Application.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/ApplicationContext.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/Executable.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/LogoutModule.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/Module.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VMenuTree.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VWindow.kt
  galite-demo/galite-vaadin-spring/src/main/kotlin/org/kopi/galite/demo/Application.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/GaliteApplication.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/desktop/Application.kt
  galite-localizer/src/main/kotlin/org/kopi/galite/localizer/Localization.kt
  galite-localizer/src/test/kotlin/org/kopi/galite/tests/localizer/LocalizationTests.kt
  galite-tests/src/main/kotlin/org/kopi/galite/tests/ui/swing/JApplicationTestBase.kt
  galite-tests/src/main/kotlin/org/kopi/galite/tests/ui/vaadin/VApplicationTestBase.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/TestApplication.kt
Labels: enhancement, database :floppy_disk:

#550 Adding test to check the order of execution of triggers
  galite-tests/src/main/resources/org/kopi/galite/test/Menu-en_GB.xml
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Modules.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/triggers/ChartTriggersTest.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/triggers/FormTriggersTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/triggers/ReportTriggersTest.kt
Labels: test :test_tube:

#547 Adding test for block, label, actor and menu localization
  galite-tests/src/main/resources/org/kopi/galite/test/Menu-en_GB.xml
  galite-tests/src/main/resources/org/kopi/galite/tests/localization/LocalizedForm-en_GB.xml
  galite-tests/src/main/resources/org/kopi/galite/tests/localization/actor/ExternActor-en_GB.xml
  galite-tests/src/main/resources/org/kopi/galite/tests/localization/block/ExternBlock-en_GB.xml
  galite-tests/src/main/resources/org/kopi/galite/tests/localization/code/ExternCode-en_GB.xml
  galite-tests/src/main/resources/org/kopi/galite/tests/localization/list/ExternList-en_GB.xml
  galite-tests/src/main/resources/org/kopi/galite/tests/localization/menu/ExternMenu-en_GB.xml
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Modules.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/localization/FormLocalizationTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/localization/actor/ExternActor.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/localization/block/ExternBlock.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/localization/code/ExternCode.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/localization/list/ExternList.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/localization/menu/ExternMenu.kt
Labels: test :test_tube:, localization

#551 Adjust the report height to fit the window size when zoom in or zoom out
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/report/DTable.kt
Labels: UI 💎, UI: report 📑

#557 Fix the contents align for Decimal and int fields
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridTextEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/grid/GridEditorTextField.kt
Labels: UI 💎, UI: report 📑, UI: form

#554 Improvement in report style when reordering and resizing columns
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/report.css
Labels: frontend

#553 Adding a background color for report cell when focus
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/grid.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/list.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/styles.css
Labels: enhancement, frontend

#556 Remove Date type in favor to java LocalDate
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/form/DBlock.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/form/DForm.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/form/DateChooser.java
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/form/JPredefinedValueHandler.java
  galite-core/src/main/kotlin/org/kopi/galite/visual/chart/VDateDimension.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/chart/VDecimalDimension.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/domain/Domain.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/domain/GaliteDomains.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FullCalendar.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/report/ReportRow.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/BlockListener.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/PredefinedValueHandler.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VListDialog.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VMonthField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VTimestampField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/fullcalendar/VFullCalendarBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/fullcalendar/VFullCalendarEntry.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/list/VDateColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/list/VDecimalColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/MReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/PExport2Excel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/PExport2PDF.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VCellFormat.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VDateColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/type/Date.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/type/Month.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/type/Timestamp.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/type/Week.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/calendar/DAbstractFullCalendar.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/TimestampValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DFullCalendarBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridTextEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/VPredefinedValueHandler.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/database/Migration.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Field.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/domain/DomainTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/MultipleBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/SimpleBlockTests.kt
Labels: enhancement, database :floppy_disk:, domain

#560 Add ability to change CSS colors via variables from Vapplication
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/BooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/VApplication.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/actor.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/block.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/checkbox.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/columnselector.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/combobox.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/datetime.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/form.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/grid.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/header.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/label.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/list.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/login.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/notification.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/progress.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/richtext.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/styles.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/textfield.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/windows.css
Labels: enhancement, frontend

#561 Set default align to right for numeric fields in multi block
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridBlock.kt
Labels: UI 💎, UI: form

#562 VaadinUI: Use setTimeout to set date field value only after the element is attached
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VDateField.kt
Labels: bug :lady_beetle:, UI 💎, UI: form
