Repository kopiLeft/Galite, pull requests merged in 2022-03, with the labels that each got.

#565 DateField Rework: Use text field with a date picker as a suffix component
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/base/JSUtils.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DTextField.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/datepicker.css
Labels: bug :lady_beetle:, UI 💎, UI: form

#563 Feature: Add the feature of opening programmatically an URL from a window
  galite-core/src/main/java/org/kopi/vkopi/lib/ui/swing/visual/DWindow.java
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Window.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/DMenu.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/DWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/UWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VWindow.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/WindowController.kt
Labels: New :new:

#569 DSL Adding more APIs to Actor and Command
  galite-core/src/main/kotlin/org/kopi/galite/visual/cross/VChartSelectionForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/cross/VReportSelectionForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Actor.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Command.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Window.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/DictionaryForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/ReportSelectionForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VDictionaryForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VFieldCommand.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VFullCalendarCommand.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VReportCommand.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/actor/VActorNavigationItem.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/menu/VActorsRootNavigationItem.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/window/VActorPanel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/window/Window.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VActor.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VCommand.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VMenuTree.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VWindow.kt
  galite-testing/README.md
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Actor.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/CommonDSLTest.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/FormDSLTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/ActorTests.kt
Labels: form DSL, report DSL, chart DSL :bar_chart:

#566 Remove Timestamp in favor to java Instant
  galite-core/src/main/kotlin/org/kopi/galite/visual/chart/VTimestampDimension.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/domain/Domain.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/domain/GaliteDomains.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/chart/ChartMeasure.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FullCalendar.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/report/ReportRow.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VTimestampField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/fullcalendar/VFullCalendarBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/fullcalendar/VFullCalendarEntry.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/list/VTimestampColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/MReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/PExport2Excel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VCellFormat.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VTimestampColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/type/DefaultFormat.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/type/Timestamp.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/calendar/DAbstractFullCalendar.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/TimestampValidator.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VTimeStampField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridTextEditorField.kt
  galite-domain/src/main/kotlin/org/kopi/galite/domain/DomainColumn.kt
  galite-domain/src/main/kotlin/org/kopi/galite/domain/type/Timestamp.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Field.kt
  galite-tests/src/main/kotlin/org/kopi/galite/tests/ui/vaadin/VUITestBase.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/chart/VDimensionTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithSpecialTypes.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/MultipleBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/SimpleBlockTests.kt
Labels: model, domain

#574 VaadinUI/Multiblock: Do not close editor when trying to edit inaccessible records
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridBlock.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/bill/BillForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/billproduct/BillProductForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/client/ClientForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/command/CommandForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/desktop/Application.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/product/ProductForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/provider/ProviderForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/stock/StockForm.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/taxRule/TaxRuleForm.kt
Labels: bug :lady_beetle:, UI 💎, UI: form

#570 Adding test for form and report localization
  galite-core/src/main/kotlin/org/kopi/galite/visual/domain/CodeDomain.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/domain/Domain.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/FieldList.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Window.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/report/Report.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/report/ReportModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VReport.kt
  galite-tests/src/main/resources/org/kopi/galite/tests/localization/LocalizedForm-en_GB.xml
  galite-tests/src/main/resources/org/kopi/galite/tests/localization/LocalizedReport-en_GB.xml
  galite-tests/src/main/resources/org/kopi/galite/tests/localization/actor/ExternActor-en_GB.xml
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/CommonDSLTest.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/localization/FormLocalizationTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/localization/ReportLocalizationTests.kt
Labels: localization

#571 UI-Firefox: Remove space between page menu and form block
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/block.css
Labels: enhancement, frontend

#576 Fix: VField.retrieveQuery shouldn't convert value to Week and Month
  galite-core/src/main/kotlin/org/kopi/galite/visual/cross/VDynamicReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/domain/Domain.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VBooleanCodeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VMonthField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VWeekField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VMonthColumn.kt
Labels: bug :lady_beetle:, model
