Repository kopiLeft/Galite, pull requests merged in 2022-04, with the labels that each got.

#579 DB: Adding Query extension function allowing to get single row or throw custom DB Exception
  galite-core/src/main/kotlin/org/kopi/galite/visual/db/DBNoRowException.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/db/DBRuntimeException.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/db/DBTooManyRowsException.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/db/Query.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/db/DBExceptionTests.kt
Labels: database :floppy_disk:

#582 Style: Add padding between fields in multi block
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/grid.css
Labels: enhancement, UI 💎, frontend

#580 Implement Pivot Table model using Kotlin Dataframe
  buildSrc/src/main/kotlin/org/kopi/galite/gradle/Versions.kt
  galite-core/build.gradle.kts
  galite-core/src/main/kotlin/org/kopi/galite/visual/pivottable/Constants.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/pivottable/MPivotTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/pivottable/PivotTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/pivottable/Row.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/pivottable/Span.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/pivottable/UPivotTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/Constants.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/CommandsForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/PivotTableExample.kt
Labels: model, New :new:

#577 DSL: MustFill field value should be nullable
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FullCalendar.kt
Labels: form DSL

#578 VaadinUI: Filter deleted records from multiblock
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridMultiBlock.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/client/ClientForm.kt
  galite-testing/README.md
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Block.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/DocumentationBlockFormTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/MultipleBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/SimpleBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/field/DocumentationFieldsFormTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/field/FieldColorsTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/MultipleBlockFormTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/triggers/FormTriggersTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/triggers/TriggersTests.kt
Labels: form DSL, UI 💎, UI: form

#584 Fix Date component style
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/datepicker.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/fullcalendar.css
Labels: frontend

#581 DSL/Model: code clean and refactoring
  galite-core/src/main/kotlin/org/kopi/galite/visual/chart/VChartCommand.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/chart/VDefaultChartActor.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Actor.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Command.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/LocalizableElement.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Menu.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/common/Window.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/Block.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/BlockModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/Form.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormBlockTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormFieldColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormFieldColumns.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FullCalendar.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VDefaultFormActor.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VFullCalendarCommand.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/fullcalendar/VFullCalendarBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/list/VColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VDefaultReportActor.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VReportCommand.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DBlock.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/DefaultActor.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VActor.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VCommand.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VDefaultActor.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/common/FormDefault.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Actor.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/CommonDSLTest.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/FormDSLTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/WindowElementSources.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/VBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/CommandsFormTests.kt
Labels: enhancement

#583 Adding PivotTable UI implementation
  galite-core/src/main/kotlin/org/kopi/galite/visual/pivottable/MPivotTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/pivottable/PivotTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/pivottable/Span.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/pivottable/DPivotTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/pivottable/DTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/pivottable/VTable.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/report/ColumnStyleGenerator.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/report/DReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/VUIFactory.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/report.css
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/CommandsForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/PivotTableExample.kt
Labels: UI 💎, New :new:
