Repository kopiLeft/Galite, pull requests merged in 2022-01, with the labels that each got.

#531 VaadinUI: Feature of changing the foreground and background of a field
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/base/StyleManager.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/grid/GridEditorActorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/grid/GridEditorBooleanField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/grid/GridEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/grid/GridEditorImageField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/grid/GridEditorTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/visual/VApplication.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/styles.css
  galite-tests/src/main/resources/org/kopi/galite/test/Menu-en_GB.xml
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Modules.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/field/FieldColorsTests.kt
Labels: UI 💎, UI: form

#532 Do not loose field's color on blur
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/base/StyleManager.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VTimeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VTimeStampField.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/block.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/combobox.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/datetime.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/list.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/styles.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/textfield.css
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Field.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/field/FieldColorsTests.kt
Labels: frontend

#533 Adding shift left and shift right to Decimal
  galite-core/src/main/kotlin/org/kopi/galite/visual/type/Decimal.kt
Labels: domain

#528 Enhancement in style of VActorsRootNavigationItem in actors panel
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/actor.css
Labels: frontend

#538 VaadinUI: Date fields shouldn't accept invalid values
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/InputTextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/TextField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VDateField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VTimeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VTimeStampField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DTextField.kt
  galite-core/src/main/resources/META-INF/resources/frontend/src/date-picker-light.js
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Field.kt
Labels: enhancement, UI 💎, UI: form, frontend

#537 Generate a report (pdf, xls, xlsx, csv) containing only visible column
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/report/ColumnsSelector.kt
Labels: UI 💎, UI: report 📑

#540 Fix incorrect title in the help viewer
  galite-core/src/main/kotlin/org/kopi/galite/visual/domain/Fixed.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/BlockModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/form/FormModel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VForm.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/visual/VMenuTree.kt
Labels: bug :lady_beetle:, model

#542 VaadinUI: Delete added spaces to decimal field
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VDecimalField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DGridTextEditorField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/form/DTextField.kt
Labels: UI 💎, UI: form

#544 Improvement in style of textarea
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/VTextAreaField.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/styles.css
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/textfield.css
Labels: enhancement, frontend

#543 Change the color and the bottom border of the skipped field
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/TextField.kt
  galite-core/src/main/resources/META-INF/resources/frontend/styles/galite/textfield.css
Labels: enhancement, frontend

#541 Remove Decimal class in favor to BigDecimal
  galite-core/src/main/kotlin/org/kopi/galite/visual/chart/VDecimalCodeDimension.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/chart/VDecimalCodeMeasure.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/chart/VDecimalDimension.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/chart/VDecimalMeasure.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/cross/VDynamicReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/domain/CodeDomain.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/domain/Domain.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/domain/GaliteDomains.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/report/ReportField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/dsl/report/ReportRow.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VCodeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VDecimalCodeField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VDecimalField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/form/VField.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/list/VDecimalCodeColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/list/VDecimalColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/MReport.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/PExport2Excel.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/Triggers.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VDecimalCodeColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/report/VDecimalColumn.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/type/Decimal.kt
  galite-core/src/main/kotlin/org/kopi/galite/visual/ui/vaadin/field/InputTextField.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/bill/BillR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/billproduct/BillProductR.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/client/ChartSample.kt
  galite-demo/galite-vaadin/src/main/kotlin/org/kopi/galite/demo/database/Migration.kt
  galite-testing/src/main/kotlin/org/kopi/galite/testing/Field.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/chart/DimensionTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/chart/VMeasureTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/domain/DomainTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/dsl/ReportTriggersTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/Database.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationChartC.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationFieldsForm.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/DocumentationReportTriggersR.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/examples/FormWithChart.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithMultipleBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/FormWithSpecialTypes.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/form/VBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/report/ReportTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/report/VReportTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/MultipleBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/block/SimpleBlockTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/field/DocumentationFieldsFormTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/field/FieldsTests.kt
  galite-tests/src/test/kotlin/org/kopi/galite/tests/ui/vaadin/form/CommandsFormTests.kt
  gradle.properties
Labels: model, domain
